@import url('https://fonts.googleapis.com/css2?family=Karla&family=Open+Sans&family=Poppins:wght@400&family=Roboto&display=swap');


* {
  box-sizing: border-box;
}

html {
  --Pink: hsl(322, 100%, 66%);
  --Light-Pink: hsl(321, 100%, 78%);
  --Light-red: hsl(0, 100%, 63%);
  --Dark-Cyan: hsl(192, 100%, 9%);
  --Pale-Blue: hsl(207, 100%, 98%);
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: var(--Dark-Cyan);
}
a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}
img {
  width: 100%;
  margin: 0;
  display: block;
}
button {
  background: transparent;
  border: none;
  cursor: pointer;
  color: inherit;
  padding: 0;
  display: inline-block;
}

.pink-link {
  padding: 0.8em 3em;
  background: var(--Pink);
  color: var(--Pale-Blue);
  font-weight: 600;
  margin-top: 30px;
  font-size: 14px;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  transition: 0.3s;
}
.pink-link:hover {
  background: var(--Light-Pink);
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  padding-top: 30px;
  padding-bottom: 30px;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  width: 125px;
}
.header-link {
  color: var(--Pink);
  padding: 5px 16px;
  border-radius: 20px;
  border: 1px solid;
  font-size: 14px;
}
.header-link:hover {
  color: var(--Light-Pink);
}

.first {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}
.first-title {
  font-family: 'Poppins', sans-serif;
}
.first-paragraph {
  font-size: 13px;
}
.first-image {
  width: 100%;
  margin-top: 90px;
}

.iconDetails {
  padding-bottom: 60px;
}
.iconDetails .container {
  display: flex;
  flex-direction: column;
}
.iconDetails-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;
}
.iconDetails-item + .iconDetails-item {
  margin-top: 70px;
}
.iconDetails-icon {
  margin-right: auto;
  width: 30px;
}
.iconDetails-number {
  font-size: 50px;
  margin: 0;
}
.iconDetails-label {
  margin-top: 8px;
  font-size: 14px;
  color: #999;
}

.section.color {
  background: var(--Pale-Blue);
}
.section.extra {
  margin: 60px 0;
}

.section {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.section .container {
  display: flex;
  flex-direction: column;
}
.section-title {
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  margin-top: 40px;
}
.section-paragraph {
  font-size: 12px;
}

.end-section {
  text-align: center;
  padding-top: 180px;
  padding-bottom: 180px;
}
.end-section-title {
  font-family: 'Poppins', sans-serif;
}

.footer {
  background: var(--Dark-Cyan);
  color: white;
  padding-top: 60px;
  padding-bottom: 60px;
}
.newsletter {
  display: flex;
  flex-direction: column;
}
.newsletter-title {
  margin: 0;
}
.newsletter-paragraph {
  font-size: 13px;
}
.newsletter-input {
  width: 100%;
  border: none;
  outline: none;
  padding: 8px 14px;
  border-radius: 8px;
}
.newsletter-input:focus {
  outline: 2px solid var(--Light-Pink);
}
.newsletter-button {
  background: var(--Pink);
  border: 0;
  font-family: inherit;
  color: inherit;
  font-weight: 600;
  margin-left: auto;
  cursor: pointer;
  padding: 8px 25px;
  margin-top: 14px;
  border-radius: 6px;
  transition: 0.3s;
}
.newsletter-button:hover {
  background: var(--Light-Pink);
}

.company {
  margin-top: 60px;
}
.company-logo {
  transform: scale(0.7);
  transform-origin: left;
	font-size: 3.5rem;
}
.company-logo path {
  fill: white;
}
.company-paragraph {
  font-size: 13px;
}

.contact-item {
  display: flex;
  font-size: 13px;
}
.contact-icon {
  width: 15px;
  object-fit: contain;
}
.contact-detail {
  margin-left: 16px;
}

.iconset {
  margin-top: 40px;
}
.iconset-link + .iconset-link {
  margin-left: 10px;
}
.iconset-link ion-icon {
  font-size: 25px;
}
.iconset-link:hover {
  color: lightblue;
}

@media screen and (min-width: 1024px) {
  .pink-link {
    font-size: 16px;
  }
  .container {
    max-width: 64rem;
  }

  .first-title {
    font-size: 35px;
  }
  .first-paragraph {
    max-width: 450px;
    margin: 0 auto;
    font-size: 15px;
  }
  .first-image {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  .iconDetails .container {
    flex-direction: row;
  }
  .iconDetails-item + .iconDetails-item {
    margin-top: 0;
  }
  .iconDetails-number {
    font-size: 60px;
  }
  .iconDetails-label {
    font-size: 18px;
  }

  .section {
    text-align: left;
  }

  .section.img-right .section-image {
    order: 2;
  }
  .section.img-right .section-content {
    margin-right: 60px;
  }

  .section.img-left .section-content {
    margin-left: 60px;
  }

  .section .container {
    flex-direction: row;
  }
  .section-title {
    font-size: 28px;
  }
  .section-paragraph {
    font-size: 15px;
  }
  .section-image {
    max-width: 50%;
  }

  .end-section {
    padding-top: 100px;
  }
  .end-section-title {
    font-size: 35px;
  }

  .footer .container {
    display: flex;
    justify-content: space-between;
  }
  .footer-details {
    max-width: 300px;
    margin-right: 200px;
  }
  .newsletter {
    order: 2;
  }
  .newsletter-paragraph {
    max-width: 300px;
  }
  .newsletter-form {
    display: flex;
    align-items: center;
  }
  .newsletter-input {
    min-width: 250px;
  }
  .newsletter-button {
    margin-top: 0;
    margin-left: 20px;
  }

  .company {
    margin-top: 0;
  }
}
